*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body{
  width: 100vw;
  height: 100vh;
  min-width: 350px;
}

.container{
  width: 100%;
  min-height: calc(100vh - 60px);
  background: transparent;
  padding: 32px 20%;
  transition: padding .25s ease;
  position: relative;
}

a{
  text-decoration: none;
  color: white;
  padding: 0 48px;
  cursor: pointer;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all .25s ease;
}

a:hover{
  background: white;
  color: rebeccapurple;
}

.linkActive{
  background: white;
  color: rebeccapurple;
}

button{
  border: none;
  background: rebeccapurple;
  color: white;
  padding: 12px;
  margin: 2px;
  transition: all .25s ease;
  cursor: pointer;
  border: 2px solid white;
}

button:hover{
  background: white;
  color: rebeccapurple;
  border: 2px solid rebeccapurple;
}

::-webkit-scrollbar{
  width: 0;
}

::-webkit-scrollbar-track{
  background: transparent;
}

::-webkit-scrollbar-thumb{
  background: transparent;
}

@media only screen and (max-width: 500px) {
  .container{
    width: calc(100vw - 16px);
    padding: 32px 8px;
    min-height: calc(100vh - 40px);
    margin: 0 auto;
  }
}