.contact{
    width: 100%;
    height: 100%;
    margin-top: 200px;
}

.contact section{
    margin-bottom: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.contact h1{
    font-size: 4rem;
    text-transform: uppercase;
    text-align: center;
}

.contact section input{
    width: 80%;
    margin-bottom: 18px;
}
.contact section textarea{
    width: 80%;
}

.contact .error{
    color: white;
    border-bottom: 2px solid red;
    background: rgb(228, 102, 102);
}
.contact .success{
    color: white;
    border-bottom: 2px solid green;
    background: rgb(52, 190, 52);
}
.contact input{
    margin-right: 12px;
    border: none;
    border-bottom: 2px solid rebeccapurple;
    height: 40px;
    padding: 2px;
    font-size: 16px;
    font-weight: 600;
}
.contact textarea{
    margin-right: 12px;
    border: 2px solid rebeccapurple;
    border-radius: 5px;
    padding: 8px;
    font-size: 16px;
    font-weight: 400;
    resize: none;
}

.contact input:focus{
    outline: none;
}
.contact input:active{
    outline: none;
}

.contact textarea:focus{
    outline: none;
}
.contact textarea:active{
    outline: none;
}