.nav{
    position: sticky;
    top: 0;
    height: 60px;
    width: 100%;
    background: rebeccapurple;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 2%;
    transition: all .25s ease;
    z-index: 10;
    border-bottom: 2px solid black;
}

.nav img{
    width: 80px;
    margin: 50px 20px 0 20px;
}

@media only screen and (max-width: 500px) {
    .nav {
        height: 40px;
    }
    .nav a{
        padding: 0 8px;
        color: white;
    }
    .container{
      min-height: calc(100vh - 40px);
      padding: 32px 10%;
    }
    .nav img{
        width: 60px;
        margin: 30px 10px 0 10px;
    }
  }

  @media only screen and (max-width: 800px) and (min-width: 500px) {
    .nav a{
        padding: 0 24px;
    }
  }

