.order{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    overflow-x: hidden;
    flex-wrap: nowrap;
}

.order .side {
    width: 100vw;
    padding: 32px 10%;
}

.order h2{
    width: 100%;
    text-align: center;
    margin: 32px 0;
    text-transform: uppercase;
    border-bottom: 1px solid black;
}

.order section{
    width: 60%;
    display: flex;
    flex-direction: column;
    margin: 32px 0;
    transition: all .25s ease;
}

.order section h3{
    width: 100%;
}

.order .option {
    margin: 4px 4px 4px 32px;
    display: flex;
    align-items: center;
}
.order .p{
    width: 100%;
    text-align: center;
    margin: 4px 0;
    margin-top: -8px;
}

.order .option div{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between ;
}
.order .textInput{
    flex-direction: column;
    align-items: flex-start;
    margin: 16px 0;
}
.order .submitted .textInput div{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 12px;
}
.order .textInput div input{
    margin: 2px 0;
    width: 33%;
}
.order .textInput input{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between ;
    margin: 0;
    background: transparent;
}
#quantity{
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 16px 0;
}
#quant-element{
    margin: 2px 6px;
    width: 30%;
    min-width: 75px;
    text-align: center;
}
#quant-element input{
    margin: 0;
    width: 40%;
    text-align: center;
    justify-content: center;
    align-items: center;
    border-top: 2px solid rebeccapurple;
    font-size: 24px;
    font-weight: 600;
}
#quant-element button{
    margin: 0;
    padding: 4px;
    width: 30%;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-size: 24px;
}
#quant-element button:hover{
    color: white;
    background: rebeccapurple;
}
#quant-element button:focus{
    outline: none;
}
#quantity h2{
    margin: 2px 0;
    width: 35%;
    border-bottom: none;
    text-transform: none;
}

#quantity input::-webkit-outer-spin-button,
#quantity input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

/* Firefox */
#quantity input[type=number] {
  -moz-appearance: textfield;
}


.order input{
    margin-right: 12px;
    border: none;
    border-bottom: 2px solid rebeccapurple;
    height: 40px;
    padding: 2px;
    font-size: 16px;
    font-weight: 600;
}

.order input:focus{
    outline: none;
}
.order input:active{
    outline: none;
}

.order .price{
    font-size: 16px;
    font-weight: 800;
    font-style: normal;
}

.order .loader{
    display: block;
    width: 20px;
    height: 20px;
    max-width: 20px;
    max-height: 20px;
    border-top: 2px solid black;
    border-right: 2px solid black;
    border-bottom: 2px solid black;
    border-left: 2px solid transparent;
    border-radius: 50%;
    animation: rotate 1s infinite;
}

.order #storageOption{
    position: relative;
    top: -100px;
}

.order #wifiOption{
    position: relative;
    top: -100px;
}

.order .error{
    color: white;
    border-bottom: 2px solid red;
    background: rgb(228, 102, 102);
}
.order .success{
    color: white;
    border-bottom: 2px solid green;
    background: rgb(52, 190, 52);
}

.order .check{
    color: black;
}

.order #terms-and-conditions{
    width: auto;
    height: auto;
    background: transparent;
    color: blue;
    text-decoration: underline;
    font-size: 14px;
    margin: 0;
    padding: 0;

}
.order .confirmation{
    width: 100%;
    min-height: 100vh;
    background: white;
    display: none;
    opacity: 0;
    z-index: 1;
    transition: all .5s ease;
}
.order .submitted{
    opacity: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.order .submitted div{
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}
.order .submitted section{
    width: 80%;
    display: flex;
    flex-direction: column;
    margin: 32px 0;
    transition: all .25s ease;
}
.order .submitted a{
    width: 200px;
    height: 75px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    margin: 8px;
    background: rebeccapurple;
}
.order .submitted a:hover{
    background: white;
    color: rebeccapurple
}
.order .buttons{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0;
}
.order .submitted .buttons{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    margin: 0;
}
.order .submitted .buttons div{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0;
}
.order .buttons a{
    width: 40%;
    height: 50px;
    font-size: 22px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.order .buttons button{
    width: 40%;
    height: 50px;
    font-size: 22px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.order .submitted .loader{
    display: block;
    width: 20px;
    height: 20px;
    max-width: 20px;
    max-height: 20px;
    border-top: 2px solid black;
    border-right: 2px solid black;
    border-bottom: 2px solid black;
    border-left: 2px solid transparent;
    border-radius: 50%;
    animation: rotate 1s infinite;
}


.order #tacos{
    position: fixed;
    right: 4px;
    bottom: 4px;
    background: transparent;
    width: 20%;
    height: calc(100% - 8px);
    z-index: 1111111;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
.order #tacos *{
    transition: all .25s ease;
}
.order #tacos div{
    display: flex;
    justify-content: space-between;
    margin: 4px 0;
    padding: 12px 4px;
    background: rgba(102, 51, 153, 0.404);
    position: relative;
}
.order #tacos div:before{
    content: '';
    background: url('../Cheese.png');
    width: 50px;
    height: 50px;
    position: absolute;
    left: 0;
    top: 0;
    display: block;

}
.order #tacos p{
    width: 80%;
}
.order #tacos p:first-of-type{
    color: red;
    width: 20%;
}


.order .row {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 12px;
}

.order .row p{
    font-size: 11px;
    font-style: italic;
}

.order .row .price{
    font-size: 16px;
    font-weight: 800;
    font-style: normal;
}

.order .package{
    margin: 20px 0 40px 0;
    text-align: center;
    border-bottom: 1px solid black;
    width: 100%;
}

@keyframes rotate {
    0%{transform: rotate(0deg);}
    100%{transform: rotate(360deg);}
}
@keyframes fade-in {
    0%{opacity: 0;}
    100%{opacity: 1;}
}

@media only screen and (max-width: 900px) {
    .order section{
        width: 100%;
    }
    #quantity{
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 16px 0;
    }
  }