.thanks{
    width: 100%;
    height: 100%;
    margin: 0 auto;
}

.thanks section{
    margin-bottom: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.thanks h1{
    font-size: 4rem;
    text-transform: uppercase;
}

.thanks ol{
    font-weight: 800;
}
.thanks ol li{
    margin: 8px 0;
    list-style-position: outside;
    padding-left: 20px;
}
.thanks ol span{
    font-weight: 400;
}

@media only screen and (max-width: 500px) {
    
.thanks ol li{
    margin: 8px 0;
    list-style-position: outside;
    padding-left: 20px;
    margin-left: 20px;
}
}